* {
  padding: none;
  margin: 0;
  box-sizing: border-box;
}
.heroy {
  height: 100vh;
  background-color: rgba(127, 255, 212, 0.548);
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden !important;
}
.leader {
  text-align: center;
  font-family: "Poppins", sans-serif !important;
}
.burger {
  position: fixed;
  top: 5%;
  right: 5%;
  cursor: pointer;
}
.burger div {
  width: 25px;
  height: 3px;
  background-color: rgba(255, 255, 255, 0.712);
  margin: 5px;
}
.nav-links {
  position: fixed;
  right: 0px;
  height: 90vh;
  top: 10vh;
  width: 20%;
  background-color: #5d4954;
  border-radius: 60%;
  display: flex;
  text-align: center;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  transform: translateX(100%);
  font-family: "Poppins", sans-serif !important;
}
.nav-links li {
  list-style: none;
  opacity: 0;
}
.nav-links li a {
  color: rgba(255, 255, 255, 0.712);
  text-decoration: none;
  letter-spacing: 3px;
  font-size: 14px;
  font-weight: bold;
  margin-right: 40px;
}
.nav-active {
  transform: translateX(0%);
  transition: transform 0.5s ease-in;
}

@media screen and (max-width: 768px) {
  .nav-links {
    width: 50%;
  }
}

@keyframes navLinkFade {
  from {
    opacity: 0;
    transform: translateX(50px);
  }
  to {
    opacity: 1;
    transform: translateX(0px);
  }
}
.toggle .line1 {
  transform: rotate(-45deg) translate(-5px, 6px);
}
.toggle .line2 {
  opacity: 0;
}
.toggle .line3 {
  transform: rotate(45deg) translate(-5px, -6px);
}
/* top is all nav stuff */
.skills {
  min-height: 50vh;
  width: 100%;
}
.about {
  min-height: 50vh;
  width: 100%;
}
.golu {
  height: 8rem;
  width: 8rem;
  border-radius: 50%;
  background-color: cadetblue;
}
